html, body {
    /* Reset spacing differences between browsers */
    margin: 0;
    padding: 0;
}

img {
    /* temp to not draw attention at work */
    /* display: none doens't take up spaace, whereas visibility: hidden keeps empty space */
    /* display: none; */
    visibility: hidden;
}

.above-fold {
    display: flex;
    padding: 0 15em;
}

.above-fold__profile-pic{
    flex: 1;
}

.above-fold__title {
    flex: 3;
    margin: auto;
    text-align: center;
    font-size: 5em;
}

footer {
    position: absolute;
    bottom: 0;
}
